
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.bg-grid-pattern {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #1a1a1a 1px, transparent 1px),
    linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
}

/* Custom animations */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

*{
  font-family: 'Geist', sans-serif;
}


